# Default for those who don't have core.autocrlf set
* text=auto

*.json            text eol=lf
*.yml             text eol=lf
*.md              text eol=lf
*.ts              text eol=lf
.editorconfig     text eol=lf
.gitattributes    text eol=lf
.gitignore        text eol=lf
.vscodeignore     text eol=lf
LICENSE           text eol=lf
yarn.lock         text eol=lf

*.png             binary
